@import '~antd/lib/style/themes/default.less';

.workout-icon {
	padding: @padding-xss;
	border-radius: @border-radius-base;
}

.workout-icon.disabled {
	opacity: 0.3;
}

.workout-icon.green {
	background-color: #1DA57A;
}
.workout-icon.blue {
	background-color: #1890ff;
}
.workout-icon.orange {
	background-color: #D58309;
}
.workout-icon.red {
	background-color: #D54E09;
}
.workout-icon.dark-blue {
	background-color: #001529;
}
